<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="editForm">
      <div class="signup-form" style="margin: 0 auto; max-width: 500px;">
        <form [formGroup]="editForm" (ngSubmit)="editMyAccount();">
          <h2 class="mt-4">My account</h2>

          <div class="form-group">
            <input type="text" class="form-control" name="first_name"
                   placeholder="First Name" formControlName="name">
            <span class="validation-error" *ngIf="!editForm.get('name').valid && editForm.get('name').touched">
                            <i class="fa fa-exclamation-triangle pr-2"></i>
                            <span *ngIf="editForm.get('name').errors?.required">This field is required!</span>
                            <span *ngIf="editForm.get('name').errors['maxlength']">Maximum length of 50 characters exceeded!</span>
                        </span>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="last_name"
                   placeholder="Last Name" formControlName="surname">
            <span class="validation-error" *ngIf="!editForm.get('surname').valid && editForm.get('surname').touched">
                            <i class="fa fa-exclamation-triangle pr-2"></i>
                            <span *ngIf="editForm.get('surname').errors?.required">This field is required!</span>
                            <span *ngIf="editForm.get('surname').errors['maxlength']">Maximum length of 50 characters exceeded!</span>
                        </span>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="email"
                   placeholder="Email" formControlName="email" autocomplete="disabled">
            <span class="validation-error" *ngIf="!editForm.get('email').valid && editForm.get('email').touched">
                            <i class="fa fa-exclamation-triangle pr-2"></i>
                            <span *ngIf="editForm.get('email').errors?.required">This field is required!</span>
                            <span *ngIf="editForm.get('email').errors?.pattern">Enter valid email address!</span>
                        </span>
          </div>

          <div class="form-group">
            <input type="number" class="form-control" name="age"
                   placeholder="Age" formControlName="age">
            <span class="validation-error" *ngIf="!editForm.get('age').valid && editForm.get('age').touched">
                            <i class="fa fa-exclamation-triangle pr-2"></i>
                            <span *ngIf="editForm.get('age').errors?.required">This field is required!</span>
                        </span>
          </div>

          <div class="form-group mt-4">
            <button type="submit" [disabled]="!editForm.valid"
                    class="btn btn-success btn-lg btn-block">Edit my account</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
