<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
        <img src="./../../assets/images/home-bulb.png" alt="Logo" style="height: 50px;">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'home'">Home <span class="sr-only">(current)</span></a>
        </li>
        <ng-container *ngIf="loggedIn">
          <li class="nav-item active" *appActionAccess="'ViewUsers'">
            <a class="nav-link" [routerLink]="'users'">Users <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" *appActionAccess="'ViewCourses'">
            <a class="nav-link" [routerLink]="'courses'">Courses <span class="sr-only">(current)</span></a>
          </li>
        </ng-container>
      </ul>

      <div class="form-inline mt-2 mt-md-0">
        <!-- User menu for -Change site -Log off -Change password -Change language -->
        <div class="btn-group dropleft" *ngIf="loggedIn">
          <div class="dropdown-toggle text-light cursor-pointer"
               data-toggle="dropdown" aria-haspopup="true"
               (click)="getUsername()"
               aria-expanded="false" style="padding-top: 7px;">
            <i class="fa fa-user text-light" aria-hidden="true"></i><b class="caret"></b>
          </div>
          <ul class="dropdown-menu px-1 user-panel">
            <li>
              <p class="text-center text-uppercase text-primary my-2" style="font-size: 16px;"><b>{{username}}</b></p>
            </li>
            <li class="p-1 text-center" [routerLink]="'my-profile'">
              <button class="btn btn-outline-secondary btn-sm"
                      style="width: 100%;">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="pl-2" translate>My account</span>
              </button>
            </li>
            <hr class="m-0"/>
            <li class="p-1 text-center" (click)="logOut();">
              <button class="btn btn-outline-danger btn-sm"
                      style="width: 100%;">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                <span class="pl-2" translate>Log оut</span>
              </button>
            </li>
          </ul>
        </div>

        <div class="btn-group dropleft" *ngIf="!loggedIn">
          <button class="btn btn-primary" [routerLink]="'log-in'">Log in</button>
        </div>
      </div>

    </div>
  </nav>
</header>
