<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <div class="login-form">    
                <form [formGroup]="loginForm" (ngSubmit)="logIn();">
                    <div class="avatar"><i class="fa fa-user fa-3x"></i></div>
                    <h4 class="modal-title mb-4">Login to Your Account</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" 
                        formControlName="email">
                        <span class="validation-error" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
                            <i class="fa fa-exclamation-triangle pr-2"></i>
                            <span *ngIf="loginForm.get('email').errors?.required">This field is required!</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" 
                        formControlName="password">
                        <span class="validation-error" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                            <i class="fa fa-exclamation-triangle pr-2"></i>
                            <span *ngIf="loginForm.get('password').errors?.required">This field is required!</span>
                        </span>
                    </div>
                    <div class="form-group small clearfix">
                        <!-- <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
                        <a href="#" class="forgot-link">Forgot Password?</a> -->
                    </div> 
                    <input type="submit" class="btn btn-primary btn-block btn-lg mt-4" value="Login">              
                </form>			
                <div class="text-center small">Don't have an account? <a [routerLink]="'../register'">Sign up</a></div>
            </div>
        </div>
    </div>
</div>
